@keyframes slide-in {
  0%{
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
  }
  100%{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes slide-close {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-200px);
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-in-out ;
  width: 100%;
}
.animate-slide-close {
  transform: translateX(-200px);
  transition: 0.5s ease-out;
}